<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 

 <configuration>
 	<typeAliases>
 		<typeAlias type="java.lang.Long" alias="Long"/>
 		<typeAlias type="java.util.List" alias="List"/>
 		<typeAlias type="java.util.Map" alias="Map"/>

		<typeAlias type="com.ppp.rrr.bankBook.BankBookDTO" alias="BankBookDTO"/>

 		<typeAlias type="com.ppp.rrr.board.qna.QnADTO" alias="QnADTO"/>
		<typeAlias type="com.ppp.rrr.bankBook.BankBookDTO" alias="BankBookDTO"/>
		<typeAlias type="com.ppp.rrr.board.notice.NoticeDTO" alias="NoticeDTO"/>


 	</typeAliases>
 </configuration>